button {
    height: 50px;
    width: 100px;
    padding: auto;
    margin: 50px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition-duration: 0.4s;
    text-align: center;
}

.btn-punch {
    border-radius: 20px;
    border-color: #ff0000;
}

.btn-punch:hover {
    background-color: red;
    border-color: chartreuse;
}

.btn-send {
    border-radius: 50%;
    border: none ;
    height: 95px;
}

.btn-send:hover{
    border: solid aqua;
    background-color: aquamarine;
    color: white;
}

.btn-hover span {
    background: red;
    position: absolute;
    width: 100px;
    height: 50px;
    left: 0;
    top: 0;
    z-index: -1;
}